[submodule "lib/jsonm/jsonm-src"]
	path = lib/jsonm/jsonm-src
	url = http://erratique.ch/repos/jsonm.git
[submodule "lib/uutf/uutf-src"]
	path = lib/uutf/uutf-src
	url = http://erratique.ch/repos/uutf.git
