[submodule "lib/jsonm/jsonm-src"]
	path = lib/jsonm/jsonm-src
    url = https://github.com/dbuenzli/jsonm.git
[submodule "lib/uutf/uutf-src"]
	path = lib/uutf/uutf-src
    url = https://github.com/dbuenzli/uutf.git
